{% extends "base" %}

{% block body %}
    {{ super() }}

    <div class="container mt-4 mb-4">
        <embed src="/files/resume.pdf" class="embed-responsive" height="900" type="application/pdf">
    </div>
{% endblock body %}
