<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <title>Charles Bassett</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 class="text-white m-0 mr-2" href="/">Charles Bassett</h1>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume">Resume</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 mb-4">
        <h2 class="h2">About Me</h2>

        <p>
            I am a software engineer from Woodbury Minnesota.
            I completed my Bachelor's of Science in 2018 with a Minor in Mathematics,
            and am currently completing my Master's of Information Technology, with a
            focus in Software Engineering.
            I primarily focus on backend web development and applications development.

            <br /><br />

            I spend a large amount of my time working on personal/side projects,
            most of which can be found on my github below. I am an avid reader, and spend
            the remainder of my free time reading and learning about a variety of subjects,
            primarily reading to improve my craft.

            <br /><br />

            My language familiarities include:
            <ul>
                <li>Rust</li>
                <li>Php</li>
                <li>C#</li>
                <li>C</li>
                <li>JavaScript</li>
                <li>TypeScript-React</li>
            </ul>

            Technologies I am most familiar with include:
            <ul>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>SQLServer</li>
                <li>Apache2</li>
                <li>Nginx</li>
            </ul>

            Other tools, technologies and frameworks include:
            <ul>
                <li>Linux</li>
                <li>Rocket</li>
                <li>Diesel</li>
                <li>Laravel</li>
                <li>React</li>
                <li>Bootstrap</li>
            </ul>

            My software familiarities include:
            <ul>
                <li>Slack</li>
                <li>Microsoft Teams</li>
                <li>GitHub</li>
                <li>BitBucket</li>
                <li>Dreamhost</li>
                <li>Route53</li>
            </ul>
        </p>
    </div>

    <div class="container-fluid text-white bg-primary">
        <div class="container bg-primary">
            <div class="jumbotron bg-primary">
                <h2 class="h2 text-white">GitHub</h2>

                    <div class="github-card mx-auto" data-user="chasb96" data-width="100%"></div>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <h2 class="h2">Current Projects</h2>

        <br />

        <h4 class="h4">Unnamed Websocket Server</h4>

        <p>
            Currently I am writing a Websocket Server targeted to forward & distribute messages
            between different clients. This project is my main focus as it is aimed to solve a
            big problem. It is meant to provide a channel for many of my own devices to
            communicate with eachother, without an overwhelming and overbearing tool running
            the show. Using this I can get any number of devices to communicate with eachother
            without any overhead, and without much work required.

            <br /><br />

            This project, as of now, can open a Websocket Server with both Basic and Token
            authentication. It can track every device connected and log every message sent. It
            also has a portal accessable through the browser, allowing the user to see all
            current activity, and create new access tokens for new devices.

            <br /><br />

            The next step is to create a format for clients to follow, to provide target
            recipients, and to create concise channels. It is written in Rust with PostgreSQL,
            using WS-RS as the Websocket interface, Rocket for the web interface,
            Diesel as the ORM, and Tera for the templating engine.
        </p>

        <br />

        <h4 class="h4">Personal Cloud Server</h4>

        <p>
            This project was actually built for a close friend; a storage server for personal
            use. Existing options of this are either expensive or shady, and this was not
            a viable option for storing private files. This was created as a private and free
            alternative.

            <br /><br />

            Currently this project is deployed, and has been running stable since June. It
            provides a web interface, but runs primarily on a REST-api, and uses Token
            Authentication.

            <br /><br />

            Currently this project is doing a decoupling process to run more robustly. On
            the web interface side, it is being rewritten in WASM.
        </p>
    </div>

    <div class="container-fluid text-white bg-primary mb-0 p-4">
        <h6 class="h6 text-white">Portfolio, Charles Bassett</h6>
    </div>
</body>

<script src="https://lab.lepture.com/github-cards/widget.js"></script>

</html>
