<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <title>Charles Bassett</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <h1 class="text-white m-0 mr-4" href="/">Charles Bassett</h1>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/resume">Resume <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4 mb-4">
        <div class="container-fluid text-center">
            1330 Monks Ave, Apt. 210A, Mankato MN, 56001
            <br/>
            651-434-0426
            <br/>
            chasb96@gmail.com
        </div>

        <br/><br/>

        <h4 class="h4">Education</h4>
        <ul>
            <li>Graduate of Tartan Senior High School</li>
            <li>Advanced Placement classes in upper-level calculus and computer science</li>
            <li>Graduate of Minnesota State University, Mankato</li>
            <li>Graduate Student at Minnesota State University, Mankato</li>
        </ul>

        <br/><br/>
        <h4 class="h4">Hobbies and Interests</h4>
        <ul>
            <li>Rebuilding, repairing, and maintaining computer hardware, and software</li>
            <li>Music: primarily bass-guitar, with experience in other instruments</li>
            <li>Reading</li>
        </ul>

        <br/><br/>
        <h4 class="h4">Work Experience</h4>
        <ul>
            <li>Developer at B507
                <ul>
                    <li>Frontend & Backend Developer</li>
                    <li>Worked with others to develop software</li>
                    <li>Created software with Php Laravel, Sencha Touch, C#.NET</li>
                </ul>
            </li>
        </ul>

        <br/><br/>
        <h4 class="h4">Language Experience</h4>
        <h6 class="h6">Languages</h6>
        <ul>
            <li>Rust</li>
            <li>Php</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>C#</li>
            <li>C</li>
            <li>Java</li>
        </ul>

        <h6 class="h6">Frameworks</h6>
        <ul>
            <li>Laravel</li>
            <li>Rocket</li>
            <li>React</li>
            <li>Sencha Touch</li>
        </ul>

        <br/><br/>

        <div class="container-fliud">
            <div class="flex-container">
                <div class="flex-align"></div>
                    <a href="/resume/resume.docx" class="btn btn-primary mx-auto">Download</a>
                <div class="flex-align"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-white bg-primary mb-0 p-4">
        <h6 class="h6 text-white">Portfolio, Charles Bassett</h6>
    </div>
</body>

</html>
